@rem:10/750rem;
.font-dpr(@a:@fs5){
	@b:unit(@a,px);
	[data-dpr="1"] &{
		&:extend([data-dpr="1"]);
		font-size: @b/(1/1);
	}
	[data-dpr="2"] &{
		&:extend([data-dpr="2"]);
		font-size: @b/(2/3);
	}
	[data-dpr="3"] &{
		&:extend([data-dpr="3"]);
		font-size: @b/(1/2);
	}
}

/*消除浮动*/
.clear{clear: both;content: "";width: 0;height: 0;display: block;}

/*单行超出省略号*/
.font-limit{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}

/*多行超出省略号,下面注释是因为生成环境 webpack不会打包此属性*/
.font-limit-2{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;
	// /*! autoprefixer: off */
	-webkit-box-orient:vertical;
	// /* autoprefixer: on */
}

/*常用边距*/
.mt20{margin-top: @rem*20;}
.ml20{margin-left: @rem*20;}
.v-bottom-btn{display:flex;justify-content: center;align-items: center;}
